.shape {
height: 180px;
width: 180px;

};

.shapeimg{

    max-height:  150px;
   max-width:  150px;
}

img{
    text-align: center;
}

.actions:hover{
color: green;
}

.color1{
    color: #FF8B00;
};

.color2{
    color: #C9000C;
};

.color3{
    color:#0045a0 ;
};

.color4{
    color:#89210D ;
};

.color5{
    color:#156744 ;
};

.color6{
    color:#DD57FF ;
};

.color7{
    color:#D9E51D ;
};

.color8{
    color:#F2FF20 ;
};

.color9{
    color:#76C7D0 ;
};

.color10{
    color:#5F6C7A ;
};
.color11{
    color:#54493D ;
};
.color12{
    color:#AC823C ;
};
